/* General settings */
body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

header {
    position: relative;
    width: 100%;
    height: 400px; 
    overflow: hidden;
}

.imageHeader {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.images {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 1s;
}

.text {
    position: absolute;
    font-size: 20px;
    top: 150px;
    color: white;
    font-family: 'Fantasy';
}

#text_Booking { left: 100px; }
#text_Play { left: 350px; }
#text_Document1 { left: 550px; }
#text_Document2 { left: 900px; }

.divider {
    position: absolute;
    top: 149px;
    color: white;
    font-size: 30px;
}

#divider1 { left: 300px; }
#divider2 { left: 500px; }
#divider3 { left: 800px; }

.textslidein {
    position: absolute;
    top: 50%;
    font-size: 100px;
    color: white;
    font-family: 'Fantasy';
    animation: slideinText 5s forwards;
    animation-delay: 4s;
    visibility: hidden;
    font-weight: bolder;
}

@keyframes slideinText {
    0% {
        visibility: visible;
        left: -100%;
    }

    100% {
        visibility: visible;
        left: 50%;
        transform: translateX(-50%);
    }
}
