#start {
  width: 1700px;
  height: 1000px;
  background-color: #4F6F52;
  animation: scene1 13s forwards;
  visibility: visible;
  position: relative;
}

#Line1, #Line2, #Line3 {
  font-size: 30px;
  color: white;
  visibility: visible;
  text-align: center;
  position: absolute;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  top: 50%;
}

#Line1 {
  animation: scene1 2.5s forwards;
  animation-delay: 0s;
  visibility: visible;
  left: 50%;
  transform: translate(-50%, -50%);
}

#Line2 {
  animation: slidein 11s forwards;
  animation-delay: 0.2s;
  animation-duration: 12.5s;
  visibility: hidden;
  left: 620px;
}

#Line3 {
  visibility: hidden;
  animation: slidein 11s forwards;
  animation-duration: 12.5s;
  animation-delay: 0.2s;
  left: 700px;
}

.images {
  position: absolute;
  top: 0px;
  left: 0px;
  visibility: hidden;
}

#image1 {
  animation: imageAnimation 36s infinite;
  animation-delay: 13s;
}

#image2 {
  animation: imageAnimation 36s infinite;
  animation-delay: 20s; 
}

#image3 {
  animation: imageAnimation 36s infinite;
  animation-delay: 27s; 
}

.textslidein {
  position: absolute;
  top: 50%;
  font-size: 100px;
  color: white;
  font-family: 'Fantasy';
  animation: slideinText 5s forwards;
  animation-delay: 12s;
  visibility: hidden;
  font-weight: bolder;
}

.text,.divider{
  position: absolute;
  color: black;
  visibility: hidden;
  animation: textvisible 36s infinite ;
  animation-delay: 13s;

}

.text,a {
 
  font-size: 20px;
  top: 40px;
  font-family: 'Fantasy';
  color: black;

}
a{
  text-decoration: none;
}


#text_Booking {
  left: 100px;
}

#text_Play {
  left: 350px;
}

#text_Document1 {
  left: 550px;
}

#text_Document2 {
  left: 900px;
}

.divider {
  position: absolute;
  top: 39px;
  font-size: 30px;

}

#divider1 {
  left: 300px;
}

#divider2 {
  left: 500px;
}

#divider3 {
  left: 800px;
}

@keyframes scene1 {
  0% {
      visibility: visible;
      opacity: 1;
  }
  70% {
      visibility: visible;
      opacity: 1;
  }
  100% {
      visibility: hidden;
      opacity: 0;
  }
}

@keyframes textvisible{
  0%{
    visibility: visible;
  }
  100%{
    visibility: visible;
  }
}

@keyframes slideinText {
  0% {
      visibility: visible;
      left: -100%;
  }
  100% {
      visibility: visible;
      left: 500px;
  }
}

@keyframes slidein {
  0% {
      visibility: visible;
      left: -100%;
  }
  100% {
      visibility: hidden;
  }
}

@keyframes imageAnimation {
  0% {
      visibility: hidden;
      opacity: 0;
  }
  5% {
      visibility: visible;
      opacity: 1;
  }
  30% {
      visibility: visible;
      opacity: 1;
  }
  35% {
      visibility: hidden;
      opacity: 0;
  }
  100% {
      visibility: hidden;
      opacity: 0;
  }
}
