#start{
  width: 1700px;
  height: 1000px;
  background-color:#4F6F52;
  animation: scene1 13s forwards;
  visibility: visible;
  position: relative;

}
#Line1,#Line2,#Line3
{
  font-size: 30px;
  color: white;
visibility: visible;
text-align: center;
position: absolute;
font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
top: 50%;


}

#Line1 {
  animation: scene1 2.5s forwards;
  animation-delay: 0s;
  visibility: visible;
  left: 50%;
transform: translate(-50%, -50%);
}

#Line2 {
  animation: slidein 11s forwards;
  animation-delay: 0.2s;
  animation-duration: 12.5s;
  visibility: hidden;
  left:620px ;

}

#Line3 {
  visibility: hidden;
  animation: slidein 11s forwards;
  animation-duration: 12.5s;
  animation-delay: 0.2s;
  left: 700px;


}
.images{
  position: absolute;
top: 0px;
left: 0px;
visibility: hidden;
animation: slidein 12s forwards;


}


#image1,.text,.divider
{
  animation: scene2 10s forwards;
animation-delay: 12s;
position: absolute;
top: 0px;
left: 0px;
visibility: hidden;

}

#image1{overflow:visible;}

 #image2 {
  animation: scene3 10s forwards;
  animation-delay: 20s;
  
}

#image3 { 
  animation: scene4 10s forwards;
  animation-delay: 25s;

}  


.textslidein {
  position: absolute;
  top: 50%;
  font-size:100px;
  color: rgb(0, 0, 0);
  font-family:'Fantasy';
  animation: slideinText 5s forwards;
  animation-delay: 12s;
  visibility: hidden;
  font-weight: bolder;

}


.text{
  position: absolute;
  font-size: 20px;
  top: 40px;
  color: black;
  font-family:'Fantasy';
 
}
#text_Booking{left: 100px;}
#text_Play{ left:350px;}
#text_Document1{left:550px;}
#text_Document2{left:900px;}


.divider{
  position: absolute;
  top: 39px;
  color: black;
  font-size: 30px;

}
#divider1{left: 300px;}
#divider2{left:500px}
#divider3{left:800px}


@keyframes scene1 {
  0% {
    visibility: visible;
    opacity: 1;
    
    
  }
  70% {
    visibility: visible;
    opacity: 1;
  }
  100% {
    visibility: hidden;
    opacity: 0;
  }
  
  
}

@keyframes slideinText {
  0% {
    visibility: visible;
    left: -100%;
  }
  100% {
     visibility: visible;
    left: 500px;
  }
}


@keyframes slidein {
  0% 
  {
      visibility: visible;
    left: -100%;
  }
 
  100% {
    visibility: hidden;
  }
}

@keyframes scene2 {
  0% {
    visibility: hidden;
    opacity: 0;
  }
  95% {
    visibility: visible;
    opacity: 0.75;
  }
  100% {
    visibility: visible;
    opacity:0.95;
  }
}


@keyframes scene3 {
  0% {
    visibility: hidden;
    opacity: 0;
    
    
  }
  95% {
    visibility: visible;
    opacity: 1;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
  
  
} 

 @keyframes scene4 {
  0% {
    visibility: hidden;
    opacity: 1;
    
    
  }
  95% {
    visibility: visible;
    opacity: 1;
  }
  100% {
    visibility: visible;
    opacity: 0;
  }
  
  
} 
.images {
  animation: slidein 12s forwards infinite;

}










